{
    "Patch": {
        "Gitee/Owner": "dingmama123141",
        "Gitee/Repo": "canvas-mind-components",
        "Gitee/Token": "a5dcb6e2e7776143b7a7e7685a1f33a3",
        "GitHub/Repo": "martin98-afk/CanvasMind",
        "GitHub/Token": "",
        "Platform": "github"
    },
    "CloudAPI": {
        "SerpAPI": "42e2b2817bf48352d3caa227212ebb82d6f8839cdd39b304c68cf58b42961c27",
        "Sheety": "https://api.sheety.co/fe7b5d36457f54901b6078c05196e0a0/云组件库/sheet1",
        "Stein": "https://api.steinhq.com/v1/storages/69606496affba40a6237b4c2/sheet1"
    },
    "General": {
        "AutoCheckUpdate": true,
        "UserName": "6a5dbed274584e3295361ccf23678558"
    },
    "CanvasDisplay": {
        "AutoCollapse": false,
        "Direction": "水平",
        "FontType": "Segoe UI",
        "ShowGrid": "线网格",
        "GridSize": 20,
        "PipeWidth": 4,
        "PipeLayout": "曲线",
        "ResizeMemory": true,
        "NodeAnimation": true,
        "NodeProxySize": 120
    },
    "CanvasIO": {
        "AutoSave": false,
        "AutoSaveInterval": 60
    },
    "CanvasRun": {
        "CommunicationMethod": "ZMQ通信",
        "RunTimeout": 300,
        "RunTimeoutToggle": false,
        "RunParallel": true,
        "RunParallelMaxWorkers": 4
    },
    "Package": {
        "EnvSelected": "3.12",
        "DefaultPackages": [
            "pyzmq",
            "loguru",
            "pydantic",
            "pandas",
            "Pillow",
            "fastapi",
            "uvicorn",
            "python-lsp-server[all]",
            "asteval",
            "wcwidth",
            "pyarrow",
            "ipykernel",
            "matplotlib",
            "pyecharts",
            "mcp"
        ],
        "MinicondaVersion": "23.11.0",
        "Mirrors": [
            "https://pypi.tuna.tsinghua.edu.cn/simple"
        ],
        "PythonVersions": [
            "3.9",
            "3.10",
            "3.11",
            "3.12",
            "3.13",
            "3.14"
        ]
    },
    "QFluentWidgets": {
        "FontFamilies": [
            "Segoe UI"
        ],
        "ThemeColor": "#ff009faa",
        "ThemeMode": "Dark"
    },
    "LLM": {
        "APIBase": "http://127.0.0.1:1234/v1",
        "APIKey": "",
        "EnableThinking": true,
        "EnabledSkills": [],
        "MaxTokens": 2048,
        "Model": "qwen/qwen3-30b-a3b-2507",
        "SavedProviders": {
            "MiniMax (月之暗面)": {
                "模型名称": "MiniMax-M2.5",
                "API_URL": "https://api.minimax.chat/v1",
                "获取地址": false,
                "API_KEY": "sk-cp-CsnU7nm-pKoZadYp4gVARrsQ33GrL7Tb2gN5adkU-a7rcfnfzxb9liFjxmGdU7Ypu_A08dAQOi8HLCeOSiCU2WqmWu2whl2j50wZgIHbZjIqp_maVDmjY34",
                "温度": 0.7,
                "最大Token": 190921
            }
        },
        "SelectedModel": "MiniMax (月之暗面)",
        "Temperature": 0.7
    },
    "Project": {
        "Paths": [
            "./canvas_files/projects"
        ]
    },
    "Canvas": {
        "QuickComponents": []
    },
    "Workflow": {
        "Paths": [
            "./canvas_files/workflows"
        ]
    }
}